body {
    margin: 0;
    padding: 0;
    background-color: #DFB4A9;
    width: 100%;
}

section {
    background-color: #DFB4A9;
    width: 100%;
    height: 600px;
    padding-top: 70px;
}

/*------ SECTIONS ------*/

/*---- SPLASH ----*/

#splash {
    background-image: url(img/splash_all.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

/*---- APP ----*/

/*---- IDEA ----*/

#app {
    background-color: #DFB4A9;
    margin: 0;
    height: 100%;
}

#app h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#app h2 {
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: rgb(177, 137, 130);
    margin: 10px;
}

#app p {
    font-family: 'Open Sans';
    color: #F7F0E7;

}

#app a {
    color: rgb(177, 137, 130);
    font-size: 2vw;
}

#app .link {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 70px;
}

#app .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#app .column_1 {
    width: 46%;
    padding: 20px;
}

#app .column_2 {
    width: 46%;
    padding: 20px;
}

#app .link {
    text-align: center;
    width: 200%;
    margin-top: 30px;
    margin-bottom: 70px;
}

/*---- IDEA ----*/

#idea {
    background-color: #ECC2BB;
    width: 100%;
    height: 100%;
    margin: 0;
}

#idea .sectionwrapper {
    display: flex;
    justify-content: center;
}

#idea h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Futura';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#idea h2 {

    display: inline-block;
    color: rgb(177, 137, 130);
    display: flex;
    justify-content: space-around;
}

#idea h3 {
    font-size: 2vw;
    color: rgb(177, 137, 130);
    text-align: center;
}

#idea li {
    color: #F7F0E7;
    line-height: 25px;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

#idea a {
    color: rgb(177, 137, 130);
    font-size: 2vw;
}

#idea .link {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}

#idea ol {
    width: 80%;
    margin-left: 30px;
}

#idea pin_1 {
    width: 100%;
    padding: 0 10px;
}

#idea pin_2 {
    width: 100%;
    padding: 0 10px;
}

#idea pin_3 {
    width: 100%;
    padding: 0 10px;
}

/*---- TEST ----*/

#test {
    background-color: #F6BAB3;
    height: 100%;
    margin-bottom: 100px;
}

#test1 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#test2 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 70px;
}

#test3 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 70px;
}

#test4 {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 70px;
}

#test h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#test h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: rgb(177, 137, 130);
}

#test4 h2 {
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: rgb(177, 137, 130);
}

.video {
    flex-basis: 560px;
    flex-grow: 1;
    margin: 0 0 0 20px;
}

.text {
    flex-basis: 200px;
    flex-grow: 10;
}

.text p {
    font-size: 1.2em;
    font-family: 'Open Sans';
    color: #F7F0E7;
    margin: 0 20px;
}

#data {
    padding-top: 70px;
}

#billedeaftest {
    background-image: url(img/billedeaftest.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    width: 68%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

/*---- WORK ----*/

#design {
    background-color: #F3D4CE;
    height: 100%;
}

#design h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;

}

#design .links {
    display: inline-block;
    display: flex;
    margin: auto;
    padding-bottom: 200px;
}

#design a {
    text-align: center;
    margin: 0 4vw;
    font-size: 20px;
    color: rgb(177, 137, 130);
    font-family: 'Raleway';
    letter-spacing: 5px;
}

#design a:hover {
    color: rgb(177, 137, 130);
}

#design p {
    font-family: 'Open Sans';
    color: rgb(177, 137, 130);
    margin: 20px 30px;
    text-align: center;
}

#design img {
    width: 100%;
    border: solid #F7F0E7 2px;
}

#design .column_2 {
    margin: 20px 350px;
}

#design .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/*---- SCRUM ----*/

#scrum {
    background-color: #DFB4A9;
    height: 100%;
    padding-bottom: 50px;
}

#scrum .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

#scrum h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#scrum h2 {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 20px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: #F7F0E7;
}

.scrum_video {
    text-align: center;
    margin: 5px;
}

/*---- WORK ----*/

#work {
    background-color: #F3D4CE;
}

#work h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;

}

#work .links {
    display: inline-block;
    display: flex;
    margin: auto;
    margin-top: 150px;
}


#work a {
    text-align: center;
    margin: 0 4vw;
    font-size: 20px;
    color: rgb(177, 137, 130);
    font-family: 'Raleway';
    letter-spacing: 5px;
}

#work a:hover {
    color: rgb(177, 137, 130);
}

#work p {
    font-family: 'Open Sans';
    color: #172C67;
    margin: 30px;
}

#work .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*---- CONTACT ----*/

#contact {
    background-color: #ECC2BB;
    padding-bottom: 70px;
}

#contact h1 {
    text-align: center;
    margin: 0;
    font-size: 4.5vw;
    font-family: 'Raleway';
    letter-spacing: 5px;
    color: #F7F0E7;
    margin-bottom: 20px;
}

#contact h2 {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-family: 'Raleway';
    letter-spacing: 2px;
    color: #F7F0E7;
}

#contact li {
    margin: 0;
    font-size: 12px;
    font-family: 'Raleway';
    letter-spacing: 1px;
    color: #F7F0E7;
}

#contact .sectionwrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#contact .column_1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0px 0px 0px;
}

#contact .column_2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0px 0px 0px;
}

#benjamin {
    background-image: url("img/selfportraits/benjamin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    order: 1;
}

#benjamin:hover {
    transform: scale(1.3);
}

#maide {
    background-image: url("img/selfportraits/maide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    order: 2;
}

#maide:hover {
    transform: scale(1.3);
}

#mari {
    background-image: url("img/selfportraits/mari.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    order: 3;
}

#contact .mari {
    order: 3;
}

#mari:hover {
    transform: scale(1.3);
}

#mini {
    background-image: url("img/selfportraits/mini.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    order: 4;
}

#contact .mini {
    order: 4;
}

#mini:hover {
    transform: scale(1.3);

}

#nanna {
    background-image: url("img/selfportraits/nanna.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    order: 4;
}

#contact .nanna {
    order: 4;
}

#nanna:hover {
    transform: scale(1.3);

}

/*---------- NAVIGATIONS MENU --------*/

#primary_nav_wrap {
    background-color: rgb(177, 137, 130);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 100;
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0
}

#primary_nav_wrap ul a {
    display: inline-block;
    color: #F7F0E7;
    margin: 1.2vw;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    vertical-align: middle;
}

#primary_nav_wrap ul a:hover {
    color: #ECC2BB;
}

#primary_nav_wrap ul li {
    position: relative;
    display: inline-block;
    margin: 6px;

}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    margin-top: 1px;
    background-color: rgb(177, 137, 130);
    padding: 0;
    text-align: left;
}

#primary_nav_wrap ul ul li {
    display: inline-block;
    width: 200px;

}

#primary_nav_wrap ul ul a {

    padding: 0;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}

#primary_nav_wrap ul li:hover > ul {
    color: #F7F0E7;
    display: block;
}

/*--------- DROPDOWN MENU ----------*/

/*---- DROP DOWN MENU ---*/

header {
    position: fixed;
    width: 100%;
    background-color: rgb(177, 137, 130);
    height: 55px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

.container_drop {
    margin: 0;
    position: fixed;
    padding: 8px 20px;
    display: block;
    cursor: pointer;
    background-color: rgb(177, 137, 130);
    min-width: 280px;
}

.container_drop a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #F7F0E7;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ECC2BB;

}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
    background-color: #ECC2BB;

}

/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ECC2BB;
}

.dropdown {
    display: none;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    min-width: 160px;
    width: 20px;
    z-index: 1;
    padding: 10px 40px 10px 10px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #F7F0E7;
    padding: 20px 0px 0px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Raleway';
    letter-spacing: 3px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    color: #ECC2BB;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/*-------- Media Queries ---------- */

@media all and (max-width: 828px) {
    nav {
        display: none;
    }
}

@media all and (min-width: 828px) {
    header {
        display: none;
    }
}
